<hr/>

<% if(USERNAME){ %>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">USERNAME=<%=USERNAME%></li>
        <li class="breadcrumb-item active" aria-current="page">EMAIL=<%=EMAIL%></li>
        <li class="breadcrumb-item active" aria-current="page">uid=<%=uid%></li>
        <li class="breadcrumb-item active" aria-current="page">client_id=<%=client_id%></li>
        <li class="breadcrumb-item active" aria-current="page">wallet=<%=wallet%></li>
        <li class="breadcrumb-item active" aria-current="page">reflink=<%=reflink%></li>
    </ol>
</nav>
<% } %>

<hr/>
<p class="text-center text-muted">© Copyright 2019 BitEx</p>
