<ul class="list-group">
    <li class="list-group-item active"><b>Username</b>: <%=user.user_name%></li>
    <li class="list-group-item" aria-current="page">Email: <%=user.user_email%></li>
    <li class="list-group-item" aria-current="page">Discord: <%=user.user_discord%></li>
    <li class="list-group-item" aria-current="page">Telegram: <%=user.user_telegram%></li>
    <li class="list-group-item" aria-current="page">Language: <%=user.user_lang%></li>

    <li class="list-group-item" aria-current="page">uid: <%=uid%></li>
    <li class="list-group-item" aria-current="page">client_id: <%=client_id%></li>
    <li class="list-group-item" aria-current="page">wallet: <%=wallet%></li>
    <li class="list-group-item" aria-current="page">reflink: <%=reflink%></li>
    <li class="list-group-item"><a href="/editAccount" title="Edit <%=USERNAME%>"><i class="fas fa-user-edit"></i> Edit account</a></li>

</ul>